/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
} */
.container {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.container h1 {
   color: rgb(10, 70, 144);
   font-size: 50px;
   font-weight: bold;
}

.todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoContainerInput input {
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 17px 30px;
    font-size: 20px;
}
.todoContainerInput input::placeholder {
    font-size: 20px;
}
.todoContainerButton button {
    background-color: rgb(15, 129, 243);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 18px 22px;
    margin-left: 10px;
}
.TodoDataContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.TodoDataContainerBox {
    height: 300px;
    width: 600px;
    padding: 30px 50px;
    border-radius: 30px;
    border: solid 2px;
    border-color: rgb(3, 24, 81);
    overflow: auto; 
    
}
.boxData {
    margin-top: 20px;
    display: flex; 
    justify-content: space-between;
}
.boxData p {
   font-weight: 500;
   font-size: 22px;
}
.dataButton {
   background-color: rgb(205, 73, 8);
   border: none;
   border-radius: 10px;
   padding: 10px 15px;
   color: aliceblue;
   font-weight: bold;
}